*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.dark{
    height: 900px;
    background-color: rgba(0, 0, 0, 0.377);
}
img{
    width: 167px;
    height: 40px;
    margin: 20px 20px;
}

body{
    background-image: url(imagens/1_5lyavS59mazOFnb55Z6znQ.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    
}

div.container{
    width:  400px ;
    height: 510px;
    background-color: rgba(0, 0, 0, 0.699);
    margin: auto;

}

form{
    padding: 50px;
}

input{
    width: 305px;
    height: 50px;
    border: none;
    border-radius: 7px;
    padding: 5px;
    margin: 8px 0;
}

.buttom{
    width: 305px;
    height: 50px;
    background-color: #E50914;
    border-radius: 7px;
    padding: 14px;
    cursor: pointer;
    text-align: center;
    
}

.help{
    float: right;
}

a.help{
    color: #ccc;

}

.novo{
    margin-top: 50px;
}

a{
    text-decoration: none;
}

p{
    color: #ccc;
    font-size: 14px;
}