*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.dark{
    height: 900px;
    background-color: rgba(0, 0, 0, 0.377);
}
img{
    width: 134px;
    height: 28px;
    margin: 2rem;
}

body{
    background-image: url(imagens/1_5lyavS59mazOFnb55Z6znQ.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    
}

div.container{
    width:  400px ;
    height: 510px;
    background-color: rgba(0, 0, 0, 0.699);
    margin: auto;

}

form{
    padding: 50px;
}

input{
    width: 305px;
    height: 50px;
    border: 1px solid #66686C;
    border-radius: 7px;
    padding: 5px;
    margin: 8px 0;
    background-color: rgba(59, 56, 90, 0.267);
    
}

button{
    width: 305px;
    height: 50px;
    border: none;
    border-radius: 7px;
    background-color:#D91921 ;
    font-size: 18px;
    margin: 7px 0px;
}

.help{
    float: right;
}

a.help{
    color: #ccc;

}

.novo{
    padding: 0.8rem;
    border-radius: 6px;
    background-color:#444342a1 ;
    text-align: center;
    margin-top: 10px;
}

.novo p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    
}

a{
    text-decoration: none;
}

p{
    color: #ccc;
    font-size: 14px;
}
.ou{
    text-align: center;
}