@font-face {
    font-family:'love';
    src: url(fonte/DS-DIGI.TTF) format(truetype);
}

body{
    background: #50C8FF;
    font: normal 15pt arial;
    margin-top:100px;
    text-align: center;
    
}

header{
    color: white;
    text-align: center;
}

section{
    background: transparent;
    border-radius: 10px;
    margin: auto;
    

}
div#msg{
    font-family: 'love';
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 255, 255);
    width: 150px;
    padding: 5px;
    border-radius: 5px;
    margin: auto;

}
img{
    text-align: center;
    height: 350px;
    width: 350px;
    border-radius: 200px;
    margin-top: 20px;
}
div#foto{
    text-align: center;
    margin: auto;
}

footer{

    color: white;
    text-align: center;
    font-style: italic;
}


