body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image:url(img/atletico-homem-e-mulher-com-halteres.jpg );
    background-size: cover;
}

.container {
    text-align: center;
    color: white;
    background-color: #6d6d6dd3;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-top: 10px;
}

input {
    
    
    width: 90%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
}

button {
    background-color: #4caf50;
    
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#resultado {
    margin-top: 20px;
    font-weight: bold;
}