body {
    font-family: Arial, sans-serif;
    background-color: #daffd180;
    margin: 0;
    padding: 0;
}

header {
    background-color: green;
    color: white;
    text-align: center;
    padding: 1em 0;
}

.logo img{
    width: 150px;
    height: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    margin: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover{
    color: rgb(24, 66, 35);
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.produtos article {
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 15px;
}

.produtos img {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
}

label {
    font-weight: bold;
}

input[type="number"] {
    width: 50px;
    text-align: center;
    margin: 5px;
}

.preco {
    color: #DF2233;
    font-weight: bold;
}

.adicionar-carrinho {
    background-color: #008000;
    color: white;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
}

.adicionar-carrinho:hover {
    background-color: #ff0000;
}

footer {
    background-color: #008000;
    color: white;
    text-align: center;
    padding: 1em 0;
}